<!DOCTYPE html>

<div class="img-rounded card">
	<a href="/petition/{{ petition.id }}/">
	<img src={{petition.image_url}} alt="Protest image" style="max-height: 140px;weight: auto" class="pull-right">
	
	
		<h1>{{petition.name}}</h1>
	
		</a>
	<h2><b>Boycott:</b> {{petition.what_to_boycott}}</h2>
	
	{% autoescape off %}
		<b>Description:</b> {{petition.description}} <br><BR>
	{% endautoescape %}
	<P>
		<h3>Money WeCotted: ${{ petition.amount_saved }}</h3>
	</p>
	<b>Likes:</b> {{ petition.num_likes }}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 <b>Signatures:</b> {{ petition.num_sigs }}
</div>
