<!DOCTYPE html>

<div class="img-rounded card">
	<a href="/petition/{{ petition.id }}/">
	<img src={{petition.image_url}} alt="Protest image" style="max-height: 140px;weight: auto" class="pull-right img-rounded">
	
	
		<h4>{{petition.name}}</h4>
	
		</a>
	<h5><b>What to avoid:</b> {{petition.what_to_boycott}}</h5>
	<h5><b>What to buy:</b> {{petition.what_to_buy}}</h5>
	{% if petition.help_description != '' %}
		<h5><b>Where your help is needed:</b> {{petition.help_description}}</h5>
	{% endif %}
	
	{% autoescape off %}
		<b>Description:</b> {{petition.description}}... <br><BR>
	{% endautoescape %}
	<strong style="color: #fb654e;">${{ petition.amount_saved }}</strong> amount diverted from unethical sources
	<BR>
	<strong style="color: #fb654e;">${{ petition.amount_saved }}</strong> amount spent on ethical goods and services
	<BR><BR>
	<b>{{ petition.num_sigs }}</b> signatures &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	
	<b>{{ petition.num_likes }}</b> likes   
	 
</div>
