{% extends 'base.html' %}

{% block title %} 
new title
{% endblock %}

{% block content %}
<div class="card img-rounded">
<div style="width:100%; text-align: center;">
	<h2>{{ petition.name }}</h2>
		<h4>Boycott: {{ petition.what_to_boycott }}</h4>
		Created on {{ petition.created_at }} by 
		<img class="img-circle" src="{{ petition.user_image }}" alt="{{ petition.created_by.username }}">
		{{ petition.created_by.username }}
			
</div>
				
				<div class="pull-right" style="padding-top: 50px; padding-right: 130px;">

<h1>${{ petition.amount_saved }}</h1>
<h4>Amount WeCotted</h4>

<h1>{{ petition.count_sig }}</h1>
<h4>Signatures</h4>

<h1>{{ petition.days }}</h1>
<h4>Days</h4>
<BR>
<a href="#pledge"><button class="btn btn-default">Pledge your support</button></a>
</div>	


<div style="padding-left: 120px; padding-top: 50px; display: inline-block;">
	<iframe width="520" height="360" src="{{ petition.video_url }}" frameborder="0" allowfullscreen></iframe>
</div>


<P></P>
<BR>
<div style="display: inline-block; width: 60%; padding-right: 30px;">
<img class="rounded petition-image" src="{{ petition.image_url }}">
</p>
	<P>
		{% autoescape off %}
		{{ petition.description }}
		{% endautoescape %}
	</P>

</div>
<div class="pull-right" style="width: 400px;">
<h3>Top Voted Alternatives</h3>
	{% for alt in alts %}
		<img class="img-rounded" style="max-width: 150px;" src="{{ alt.image_url }}">
		<BR>
			<strong>{{ alt.name }}</strong>
			<BR>
				{{alt.description}}
				<BR>
					Votes: 4
	{% endfor %}
			
	
<h3>User Uploaded Photos</h3>
		{% for img in imgs %}
			
				<img class="img-rounded" style="max-width: 150px;" src="{{ img.image_url }}" alt="image uploaded by {{ img.user.username }} on {{ img.created_at }}.">
			
	{% endfor %}
	<BR><BR>
	<button class="btn btn-default">Upload a photo of your WeCott</button>

	<h3>Top Participants</h3>
		{% for sig in sigs %}
		<img class="img-circle" src="{{ sig.user_image }}" alt="{{ sig.user.username }}">
		{% endfor %}

	<h3>Signatures</h3>
			{% for sig in sigs %}
			<div>
				<img class="img-circle" src="{{ sig.user_image }}" alt="{{ sig.user.username }}">
				{{ sig.user.username }} pledged <b> ${{ sig.cash_amount }}</b> every {{ sig.time_scale }} to this boycott.<BR>
			<div style="padding: 20px;">		<i>{{ sig.reason }}</i>
				</div>
					Signed by {{ sig.user.username }} on {{ sig.signed_at }}
			<hr>	
			</div>
	{% endfor %}

</div>

<div style="display: inline-block; width: 60%; padding-right: 30px;">
	<h3 id="pledge">Pledge your support to this WeCott by signing this petition!</h3>
	<form>
		<h4>Please tell us briefly why you are supporting this WeCott</h4>
		<div class="input-group">
	  		<span class="input-group-addon" id="basic-addon1">Comment</span>
	  		<input type="text" class="form-control" placeholder="Enter text here" aria-describedby="basic-addon1">
		</div></br>
		<h4>Please tell us how much money you normally spend on these products/companies</h4>
		<div class="input-group">
			<span class="input-group-addon">I spend</span>
			<input type="text" class="form-control" placeholder="Enter amount to the nearest dollar" aria-label="Amount (to the nearest dollar)">
			<span class="input-group-addon">USD</span>
		</div></br>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		    	Per month
		    	<span class="caret"></span>
		  	</button>
		  	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Per week</a></li>
		    	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Per month</a></li>
		    	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Per year</a></li>
		  	</ul>
		</div></br>
		<div class="btn-group" role="group" aria-label="...">
			<a><button type="submit" class="btn btn-default" style="background-color:#fb654e;color:#ffffff;">Sign</button></a>
		</div>	
	</form>
	</div>
	
</div>
{% endblock %}
