{% extends 'base.html' %}

{% block title %} 
new title
{% endblock %}

{% block content %}
<div class="card img-rounded">
	<h2>{{ petition.name }}</h2>
	<h4>Boycott: {{ petition.what_to_boycott }}</h4>
	<P>
		{{ petition.description }}
	</P>
	<P>
		<img class="rounded petition-image" src="{{ petition.image_url }}">
	</P>
	<P>
		Created on {{ petition.created_at }} by {{ petition.created_by.username }}
	</P>
	<P>

	</P>
	<h3>Pledge your support to this WeCott by signing this petition!</h3>
	<form>
		<h4>Please tell us briefly why you are supporting this WeCott</h4>
		<div class="input-group">
	  		<span class="input-group-addon" id="basic-addon1">Comment</span>
	  		<input type="text" class="form-control" placeholder="Enter text here" aria-describedby="basic-addon1">
		</div></br>
		<h4>Please tell us how much money you normally spend on these products/companies</h4>
		<div class="input-group">
			<span class="input-group-addon">I spend</span>
			<input type="text" class="form-control" placeholder="Enter amount to the nearest dollar" aria-label="Amount (to the nearest dollar)">
			<span class="input-group-addon">USD</span>
		</div></br>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		    	Per month
		    	<span class="caret"></span>
		  	</button>
		  	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Per week</a></li>
		    	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Per month</a></li>
		    	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Per year</a></li>
		  	</ul>
		</div></br>
		<div class="btn-group" role="group" aria-label="...">
			<a><button type="submit" class="btn btn-default" style="background-color:#fb654e;color:#ffffff;">Sign</button></a>
		</div>	
	</form>
</div>
{% endblock %}
