
body {
	background-color: #ADD8E6;
}

.card {
	background-color: #ffffff;
	padding: 30px;
	margin: 20px;
}

.offset-top {
	margin-top: 80px;
}

.petition-image {
	max-width: 300px;
	max-height: 300px;
}
